#Сохраняем параметры
RewriteCond %{QUERY_STRING} (.*)
RewriteRule ^([0-9]+)\-[a-zA-Z0-9-]*\.html /product.php?id_product=$1&%1 [QSA,L]

#или так
Redirect 301 /content/1-delivery           /help/delivery/
